@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
.title {
  font-size: 25px;
}

.auth-page-content {
  overflow: hidden;
}
